.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none; }
  .twentytwenty-container.active {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .twentytwenty-container .twentytwenty-overlay {
    z-index: 20;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .twentytwenty-container .twentytwenty-overlay:hover {
      opacity: 1; }
    .twentytwenty-container .twentytwenty-overlay .twentytwenty-before-label, .twentytwenty-container .twentytwenty-overlay .twentytwenty-after-label {
      color: white;
      font-size: 0.8em;
      padding: 0.5em 1em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      margin-top: -1em;
      -webkit-user-select: none;
      -moz-user-select: none; }
  .twentytwenty-container .twentytwenty-before-label {
    left: 1em; }
  .twentytwenty-container .twentytwenty-after-label {
    right: 1em; }
  .twentytwenty-container .twentytwenty-handle {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 3px solid white;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    z-index: 40;
    cursor: col-resize; }
  .twentytwenty-container .twentytwenty-left-arrow, .twentytwenty-container .twentytwenty-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px; }
  .twentytwenty-container .twentytwenty-left-arrow {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px; }
  .twentytwenty-container .twentytwenty-right-arrow {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px; }
  .twentytwenty-container .twentytwenty-handle:before, .twentytwenty-container .twentytwenty-handle:after {
    content: " ";
    display: block;
    background: white;
    position: absolute;
    z-index: 30;
    -webkit-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 0 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 12px rgba(51, 51, 51, 0.5); }
  .twentytwenty-container .twentytwenty-handle:before {
    left: 50%;
    height: 9999px;
    width: 3px;
    margin-left: -1.5px;
    top: -9950px; }
  .twentytwenty-container .twentytwenty-handle:after {
    top: 50%;
    width: 9999px;
    height: 3px;
    margin-top: -1.5px;
    left: -9950px;
    display: none; }
  .twentytwenty-container.vertical .twentytwenty-handle:before {
    display: none; }
  .twentytwenty-container.vertical .twentytwenty-handle:after {
    display: block; }
  .twentytwenty-container.vertical .twentytwenty-handle {
    cursor: row-resize; }
  .twentytwenty-container.vertical .twentytwenty-up-arrow, .twentytwenty-container.vertical .twentytwenty-down-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    left: 50%;
    margin-left: -6px; }
  .twentytwenty-container.vertical .twentytwenty-up-arrow {
    border-bottom: 6px solid white;
    top: 50%;
    margin-top: -17px; }
  .twentytwenty-container.vertical .twentytwenty-down-arrow {
    border-top: 6px solid white;
    bottom: 50%;
    margin-bottom: -17px; }
